script(async src="https://www.googletagmanager.com/gtag/js?id=UA-128687531-3")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128687531-3');

title The Fluffies: create your pony character with this web editor

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
meta(name="application-name" content="The Fluffies: create your pony character with this web editor")
meta(name="description"
  content="Create your own character pony with this service based on vector graphics")
meta(name="keywords" content="My Little, MLP, pony, The, Fluffies, creator, Creating, Cartoon, SVG, vector")
meta(name="author"   content="Electrum18")
meta(name="theme-color" content="#ffaa00")

meta(property="og:type" content="website")
meta(property="og:title" content="The Fluffies: create your pony character with this web editor")
meta(property="og:image"
  content="https://raw.githubusercontent.com/Electrum18/The-Fluffies/master/src/assets/img/announcement.png")

meta(property="og:url" content="https://the-fluffies.net/")
meta(property="og:site_name" content="The Fluffies")
meta(property="og:keywords"
  content="My Little, MLP, pony, The, Fluffies, creator, Creating, Cartoon, SVG, vector")

meta(property="og:description"
  content="Create your own character pony with this service based on vector graphics")

link(rel="manifest" href="/manifest.json")